# Byte-compiled / optimized / DLL files
__pycache__/

# VSCode 
.vscode 

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# Distribution / packaging
__data/
wheels/
temp/

# Logs
geckodriver.log

# Tarballs
face-re.tar.gz
