cmake==3.29.3
keyboard==0.13.5
numpy==1.26.3
openai-whisper==20231117
opencv-python==4.9.0.80
pandas==2.1.4
pydub==0.25.1
pyppeteer==1.0.2
regex==2023.12.25
selenium==4.16.0
spacy==3.7.4
spacytextblob==4.0.0
SpeechRecognition==3.10.1
tqdm==4.66.3
ultralytics==8.2.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability
